@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
	--color1: #1a202c;
	--color2: #ecc94b;
	--color3: #fff;
	--fontSize08: 0.7rem;
	--fontSize09: 0.9rem;
	--fontSize1: 0.8rem;
	--fontSize11: 1.1rem;
	--fontSize13: 1.3rem;
	--fontSize2: 1.5rem;
	--fontSize26: 2rem;
	--fontSize3: 3rem;
	--fontWeight2: 200;
	--fontWeight3: 300;
	--fontWeight4: 400;
	--fontWeight5: 400;
	--fontWeight6: 600;
	--fontWeight7: 600;
	--fontWeight9: 900;
	--imageWH: 150px;
	--gridW: 320px;
	--imageW: 300px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--color1);
	background-image: url("./images/bg.svg");
	font-family: "Poppins", sans-serif;
	line-height: 1.4;
}

header {
	position: fixed;
	display: flex;
	align-items: center;
	flex-direction: column;
	top: 0;
	z-index: 1;
	width: 100%;
	background-color: var(--color1);
}

#navbar {
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.show-navbar {
	display: flex !important;
}

#navbar a {
	color: var(--color2);
	position: relative;
	text-decoration: none;
	letter-spacing: 1px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

#navbar a:hover {
	color: var(--color1);
}

#navbar a:hover::before {
	height: 120%;
}

#navbar a::before {
	content: "";
	position: absolute;
	height: 0;
	width: 110%;
	bottom: 0;
	left: -5%;
	right: 0;
	margin: 0 auto;
	background: var(--color2);
	transition: height 0.2s;
	transform: skew(8deg) rotate(5deg);
	z-index: -1;
}

#logo h1 {
	font-size: var(--fontSize2);
	font-weight: var(--fontWeight9);
	margin: 0;
	user-select: none;
	animation: color-animation 22s infinite;
}

#logo h1:hover {
	cursor: pointer;
}

@keyframes color-animation {
	0% {
		color: #ecc94b;
		text-shadow: 1px 1px 15px #ecc94b;
	}
	10% {
		color: rgb(240, 80, 50);
		text-shadow: 1px 1px 15px rgb(240, 80, 50);
	}
	20% {
		color: rgb(67, 0, 152);
		text-shadow: 1px 1px 15px rgb(67, 0, 152);
	}
	30% {
		color: rgb(247, 223, 30);
		text-shadow: 1px 1px 15px rgb(247, 223, 30);
	}
	40% {
		color: rgb(49, 120, 198);
		text-shadow: 1px 1px 15px rgb(49, 120, 198);
	}
	50% {
		color: rgb(49, 28, 135);
		text-shadow: 1px 1px 15px rgb(49, 28, 135);
	}
	60% {
		color: rgb(51, 153, 51);
		text-shadow: 1px 1px 15px rgb(51, 153, 51);
	}
	70% {
		color: rgb(121, 82, 179);
		text-shadow: 1px 1px 15px rgb(121, 82, 179);
	}
	80% {
		color: rgb(220, 56, 45);
		text-shadow: 1px 1px 15px rgb(220, 56, 45);
	}
	90% {
		color: rgb(225, 0, 152);
		text-shadow: 1px 1px 15px rgb(225, 0, 152);
	}
	100% {
		color: #ecc94b;
		text-shadow: 1px 1px 15px #ecc94b;
	}
}

main {
	max-width: 1105px;
	margin: 0 auto;
}

#welcome-section {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(to top, transparent, var(--color1));
}

#profile {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#profile img {
	height: var(--imageWH);
	width: var(--imageWH);
	border-radius: 50%;
	object-fit: cover;
}

#profile-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

#profile-header h1 {
	color: var(--color2);
	font-size: var(--fontSize26);
	font-weight: var(--fontWeight5);
	margin: 0;
	padding: 0;
	letter-spacing: 3px;
}

#profile-header h2 {
	color: #fff;
	font-size: var(--fontSize1);
	font-weight: var(--fontWeight3);
	letter-spacing: 3px;
	margin: -10px 0 0;
	padding: 0;
}

#profile-links {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 10px;
}

#profile-links a {
	text-decoration: none;
	color: var(--color1);
	background-color: var(--color2);
	border-radius: 5px;
	padding: 10px 0;
	margin: 0 auto;
	font-weight: var(--fontWeight7);
	font-size: var(--fontSize08);
	width: 40%;
	text-align: center;
	border: 1px solid transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}

#profile-links a:hover,
#profile-links a:focus {
	color: var(--color2);
	background-color: var(--color1);
	border: 1px solid var(--color2);
}

#profile-links svg {
	width: 20px;
	margin-left: 6px;
	fill: var(--color1);
}

#profile-links a:hover svg,
#profile-links a:focus svg {
	fill: var(--color2);
}

#technologies,
#devops,
#projects {
	width: 100%;
	padding-top: 50px;
}

.section-header {
	color: var(--color2);
	border: 2px solid var(--color2);
	padding: 10px 30px;
	font-size: var(--fontSize2);
	font-weight: var(--fontWeight2);
	margin: 50px auto 60px;
	letter-spacing: 5px;
	text-transform: uppercase;
	width: fit-content;
}

#technologies-list,
#devops-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, 200px);
	grid-gap: 28px;
	justify-content: center;
	width: 90%;
	margin: 0 auto;
}

.technologie,
.devops-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 20px;
}

.technologie-logo,
.devops-logo {
	width: 80px;
	height: auto;
}

.technologie-title,
.devops-title {
	margin: 0;
	font-size: var(--fontSize11);
	font-weight: var(--fontWeight2);
	letter-spacing: 5px;
	text-transform: uppercase;
	margin-top: 30px;
	text-align: center;
}

.technologie:nth-child(1) {
	background-color: rgb(247, 223, 30);
	color: #222;
}

.technologie:nth-child(1) .technologie-logo {
	fill: #222;
}

.technologie:nth-child(2) {
	background-color: rgb(49, 120, 198);
	color: var(--color3);
}

.technologie:nth-child(2) .technologie-logo {
	fill: var(--color3);
}

.technologie:nth-child(3) {
	background-color: rgb(0, 115, 150);
	color: var(--color3);
}

.technologie:nth-child(3) .technologie-logo {
	fill: var(--color3);
}

.technologie:nth-child(4) {
	background-color: rgb(51, 153, 51);
	color: var(--color3);
}

.technologie:nth-child(4) .technologie-logo {
	fill: var(--color3);
}

.technologie:nth-child(5) {
	background-color: rgb(0, 0, 0);
	color: var(--color3);
}

.technologie:nth-child(5) .technologie-logo {
	fill: var(--color3);
}

.technologie:nth-child(6) {
	background-color: rgb(51, 103, 145);
	color: var(--color3);
}

.technologie:nth-child(6) .technologie-logo {
	fill: var(--color3);
}

.technologie:nth-child(7) {
	background-color: rgb(71, 162, 72);
	color: var(--color3);
}

.technologie:nth-child(7) .technologie-logo {
	fill: var(--color3);
}

.technologie:nth-child(8) {
	background-color: rgb(255, 202, 40);
	color: #222;
}

.technologie:nth-child(8) .technologie-logo {
	fill: #222;
}

.technologie:nth-child(9) {
	background-color: rgb(220, 56, 45);
	color: var(--color3);
}

.technologie:nth-child(9) .technologie-logo {
	fill: var(--color3);
}

.technologie:nth-child(10) {
	background-color: rgb(225, 0, 152);
	color: var(--color3);
}

.technologie:nth-child(10) .technologie-logo {
	fill: var(--color3);
}

.technologie:nth-child(11) {
	background-color: rgb(49, 28, 135);
	color: var(--color3);
}

.technologie:nth-child(11) .technologie-logo {
	fill: var(--color3);
}

.technologie:nth-child(12) {
	background-color: rgb(227, 79, 38);
	color: var(--color3);
}

.technologie:nth-child(12) .technologie-logo {
	fill: var(--color3);
}

.technologie:nth-child(13) {
	background-color: rgb(21, 114, 182);
	color: var(--color3);
}

.technologie:nth-child(13) .technologie-logo {
	fill: var(--color3);
}

.technologie:nth-child(14) {
	background-color: rgb(204, 102, 153);
	color: var(--color3);
}

.technologie:nth-child(14) .technologie-logo {
	fill: var(--color3);
}

.technologie:nth-child(15) {
	background-color: rgb(121, 82, 179);
	color: var(--color3);
}

.technologie:nth-child(15) .technologie-logo {
	fill: var(--color3);
}

.technologie:nth-child(16) {
	background-color: rgb(97, 218, 251);
	color: var(--color3);
}

.technologie:nth-child(16) .technologie-logo {
	fill: var(--color3);
}

.technologie:nth-child(17) {
	background-color: rgb(202, 66, 69);
	color: var(--color3);
}

.technologie:nth-child(17) .technologie-logo {
	fill: var(--color3);
}

.technologie:nth-child(18) {
	background-color: rgb(219, 112, 147);
	color: var(--color3);
}

.technologie:nth-child(18) .technologie-logo {
	fill: var(--color3);
}

.technologie:nth-child(19) {
	background-color: rgb(102, 51, 153);
	color: var(--color3);
}

.technologie:nth-child(19) .technologie-logo {
	fill: var(--color3);
}

.technologie:nth-child(20) {
	background-color: rgb(0, 0, 0);
	color: var(--color3);
}

.technologie:nth-child(20) .technologie-logo {
	fill: var(--color3);
}

.devops-item:nth-child(1) {
	background-color: rgb(240, 80, 50);
	color: var(--color3);
}

.devops-item:nth-child(1) .devops-logo {
	fill: var(--color3);
}

.devops-item:nth-child(2) {
	background-color: rgb(24, 23, 23);
	color: var(--color3);
}

.devops-item:nth-child(2) .devops-logo {
	fill: var(--color3);
}

.devops-item:nth-child(3) {
	background-color: rgb(0, 199, 183);
	color: var(--color3);
}

.devops-item:nth-child(3) .devops-logo {
	fill: var(--color3);
}

.devops-item:nth-child(4) {
	background-color: rgb(0, 0, 0);
	color: var(--color3);
}

.devops-item:nth-child(4) .devops-logo {
	fill: var(--color3);
}

.devops-item:nth-child(5) {
	background-color: rgb(67, 0, 152);
	color: var(--color3);
}

.devops-item:nth-child(5) .devops-logo {
	fill: var(--color3);
}

.devops-item:nth-child(6) {
	background-color: rgb(36, 150, 237);
	color: var(--color3);
}

.devops-item:nth-child(6) .devops-logo {
	fill: var(--color3);
}

#projects-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, var(--gridW));
	justify-content: center;
	grid-gap: 28px;
	margin: 0 auto;
}

.project {
	background-color: var(--color1);
	border-radius: 10px;
	border: 2px solid var(--color2);
}

.project img {
	width: 100%;
	height: var(--imageW);
	object-fit: cover;
	object-position: top;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.project-informations {
	padding: 10px;
}

.project-tile {
	color: var(--color2);
	font-size: var(--fontSize13);
	margin: 0;
	font-weight: var(--fontWeight6);
}

.about-project {
	color: var(--color3);
	font-size: var(--fontSize09);
	margin: 5px 0;
}

.project-links {
	display: flex;
	align-items: center;
	justify-content: center;
}

.project-links a {
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	flex: 1;
	text-align: center;
	padding: 10px 0;
	background-color: var(--color2);
	color: var(--color1);
}

.project-links a:nth-child(1) {
	border-bottom-left-radius: 10px;
	margin-right: 5px;
}
.project-links a:nth-child(2) {
	border-bottom-right-radius: 10px;
}

#contact {
	background-image: linear-gradient(to bottom, transparent, var(--color1));
	padding: 20px;
	width: 100%;
	margin-top: 50px;
}

#contact-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#send-email {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--color2);
	padding: 20 50px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

#send-email svg {
	fill: var(--color2);
	width: 30px;
	margin-left: 10px;
}

hr {
	width: 50%;
	border: 0;
	border-top: 2px solid var(--color2);
	margin: 30px 0;
}

#social-media {
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.social-media-link {
	text-decoration: none;
}

.social-media-link div {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-media-link div svg {
	width: 30px;
	height: 30px;
}

.social-media-link:nth-child(1) div {
	background-color: rgb(29, 161, 242);
}

.social-media-link:nth-child(1) div svg {
	fill: var(--color3);
}

.social-media-link:nth-child(2) div {
	background-color: rgb(10, 10, 35);
}

.social-media-link:nth-child(2) div svg {
	fill: var(--color3);
}

.social-media-link:nth-child(3) div {
	background-color: rgb(46, 200, 102);
}

.social-media-link:nth-child(3) div svg {
	fill: var(--color3);
}

@media (min-width: 900px) {
	:root {
		--fontSize08: 0.8rem;
		--fontSize1: 1rem;
		--fontSize2: 2rem;
		--fontSize26: 2.6rem;
		--fontWeight5: 500;
		--fontWeight7: 700;
		--imageWH: 250px;
		--gridW: 480px;
		--imageW: 400px;
	}
	header {
		padding: 0 60px;
		flex-direction: row;
		height: 50px;
	}

	#navbar {
		display: flex;
		margin: 0 0 0 auto;
		flex-direction: row;
	}

	#navbar a {
		margin: 0;
	}

	#navbar a:not(:last-child) {
		margin-right: 20px;
	}

	#profile {
		flex-direction: row;
	}

	#profile-header {
		margin-left: 20px;
		align-items: flex-start;
	}

	#technologies-list,
	#devops-list {
		width: 80%;
	}

	#projects-list {
		width: 90%;
	}
}
